.question{
    width: 50%;
    text-align: center;

 
}

.question-statement{
    border:solid 1px;
    font-size: 36px;
    text-align: center;
    margin: 40px;
    width: 500px;
    height: 100px;
    padding-top: 50px;
    top:10px;
    margin-left: 100px;
}
.img{
    width: 50%;
    text-align: right;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 200px;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 50px;
    background-color: white;
}